

* {
    margin: 0px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* html{
    background-color: red;
} */


header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 134px;
 
}


.header-left{
    display: flex;
    justify-content: start;
    align-items: start;
width: 100%;
height: 100%;
/* background-color: aquamarine; */
background-color: rgb(219, 255, 127);
}






.header-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(219, 255, 127);
    }

    
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        height: 50%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        }
        

        #input {
            width: 70%;
            height: 100%;
            border: none;
            background-color: transparent;
            
        }
        #input:focus {
            outline: none;
        }
        
        
        .search-div{
        width: 100%;
        height: 20px;
        background-color: aqua;
        
        }


        .btn-add{

height: 100%;
width: 20%;
        background-color: transparent;
            border: none;
        }


    .header-right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
/* background-color: rgb(228, 174, 174); */
background-color: rgb(219, 255, 127);

        
        
        }

        .status{
            background-color: white;
            height: 90%;
            width: 50% ;
            border-radius: 5px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            /* background-color: rgb(219, 255, 127); */
        }

        .text-day{
            display: flex;
            justify-content: center;
            align-items: center;
          height: 30%;
      /* background-color: blanchedalmond; */
        }


        .text-day h2{
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
          }
  

    
    .number-day{
display: flex;
justify-content: center;
align-items: center;
        height: 70%;
      
    }

    .number-day h2{
      font-size: 60px;
            }

/* TITULO DE LAS TAREAS */
.task-tittle{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scroll-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: aqua;
}

.scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
 padding: 60px 0px;
    background-color: rebeccapurple;
    overflow-y: scroll;
}
            /*Lista de TAREAS */

            ul li {
                width: 100%;
                display: flex;
            justify-content: space-around;
            background-color: red;
            margin: 10px;
            }